html {
    box-sizing: border-box;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

.conteiner {
    display: flex;
    max-width: 960px;
    margin: 20px auto;
    background: #eaeaea;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

.profile{
    flex-basis: 35%;
    background: #39383a;
    color: #ababab;
}

.profile_info{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.profile_photo{
    height: 230px;
    background-image: url(photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heading{
    margin: 0;
    padding-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
}

.heading_light{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 2px dashed #5a5a5a;
    font-weight: 700;
}

.profile_text{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 26px;
}

.contacts_title{
    color: #ffffff;
    height: 16px;
    font-size: 16px;
}

.contacts-text{
    font-size: 13px;
    color: #ababab;
    text-decoration: none;
    padding-left: 20px;
}

.contacts_item{
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 2px dashed #5a5a5a;
}

address{
    font-style: normal;
    line-height: 21px;
}

.contacts{
    margin-bottom: 70px;
}

.fas{
    margin-right: 7px;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.language{
    width: 100px;
    height: 100px;
    border: 6px solid #5c5c5c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
}

.language-text{
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 4px;
}

.language-per {
    font-size: 15px;
    font-weight: 600;
}

.lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line{
    display: block;
    width: 90px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #5c5c5c;
}

.line:nth-child(2){
    width: 110px;
    margin-left: 20px;
}

.resume{
    padding: 25px 30px;
    flex-basis: 65%;
    background: #ffffff;
}

.resume-wrap{
    padding: 36px 56px;
    border: 1px solid rgba(168, 168, 168, 0.44);
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.logo-lines{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px;
}

.logo-line{
    width: 43px;
    height: 2px;
    background: #39383a;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-lines_left .logo-line:nth-child(2){
    margin-right: 20px;
    width: 55px;
}

.logo-lines_right .logo-line:nth-child(2){
    margin-left: 20px;
    width: 55px;
}

.logo-img{
    width: 90px;
    height: 90px;
    border: 1px solid #39383a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
    margin-bottom: 40px;
}

.name{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.position{
    display: block;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: #808080;
    margin-bottom: 30px;
}

.about_address{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
}

.about_contacts{
    font-size: 9px;
}

.about_contacts_link{
    text-decoration: none;
    color: #777777;
}

.heading_dark{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
}

.list{
    list-style: none;
}

.list_item{
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 32px;
}

.list_item:before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #000000;
}

.list_item_title{
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.list_item_date{
    font-size: 10px;
    text-transform: uppercase;
}

.list_item_text{
    font-size: 10px;
    color: #777777;
}

.non-border{
    border: none;
}

.heading_skills{
    margin-bottom: 48px;
}

.skills-list{
    padding-left: 0;
    list-style-type: none;
}

.skills-list_item{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.level{
    width: 70%;
    height: 8px;
    border: 1px solid #39383a;
    position: relative;
}

.level:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #898989;
}

.level-75:before{
    width: 75%;
}

.level-60:before{
    width: 60%;
}

.level-70:before{
    width: 70%;
}

@media (max-width: 1024px) and (min-width: 993px) {
    .conteiner{
        width: 90%;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .conteiner{
        flex-direction: column;
        width: 70%;
    }
    .profile_photo{
        height: 500px;
    }
    .lines{
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 568px) {
    .conteiner{
        flex-direction: column;
        width: 80%;
    }
    .resume-wrap{
        padding: 20px 56px;
    }
}

@media (max-width: 567px) and (min-width: 481px) {
    .conteiner{
        flex-direction: column;
        width: 80%;
    }
    .logo-img{
        width: 70px;
        height: 70px;
    }
    .logo-lines{
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-width: 480px) {
    .conteiner{
        flex-direction: column;
        width: 80%;
        min-width: 320px;
    }
    .logo{
        display: none;
    }
    .name{
        letter-spacing: normal;
    }
}